{% extends "base.html" %}
{% load static %}

{% block title %}
ورود به سامانه کنترل کیفیت
{% endblock title %}

{% block btnback %}

{% endblock btnback %}

{% block main %}
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm rounded-4 border-0 ">
                <div class="card-body p-4">
                    <h4 class="card-title mb-4 text-center">ورود به سامانه کنترل کیفیت</h4>

                    <form method="post" novalidate>
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                            <div class="text-danger small">
                                {{ field.errors|striptags }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                            <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary">ورود</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // افزودن کلاس bootstrap به فیلدها
    document.addEventListener("DOMContentLoaded", function () {
        const inputs = document.querySelectorAll("form input");
        inputs.forEach(input => input.classList.add("form-control"));
    });
</script>
{% endblock main %}